{% extends "layout.twig" %}
{% block body %}

<!-- <?php

$str = file_get_contents('api/obras.json');

$json = json_decode($str, true);

 ?> -->

<section>
<div class="container">
  <br>

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>

    {% for item in items %}
    <div class="grid-item col-md-4 col-sm-6 col-xs-12">
      <div class=" grid-item-content card-obra ">
        <div class="loading"></div>
        <a href="{{ path_for('item', {'id': item.id})}}">
          <div class="back-img" style="background-image: url('uploads/{{ item.foto }}');"></div>
        </a>

          <div class="detalles">
            <a class="categoria" href="#">{{item.categoria.nombre}}</a>
            <a href="{{ path_for('item', {'id': item.id})}}">
              <h4>{{item.titulo}}</h4>
            </a>

            <!-- <div class="descripcion"><p>{{item.descripcion}}</p></div> -->
          </div>
      </div>
    </div>

    {% endfor %}





  </div>

</div>
</section>
{% endblock body %}
