{% extends "layout.twig" %}
{% block body %}
<section class="container">

<div class="header-item">
  <a href="{{path_for('home')}}">Volver al listado</a>
  <!-- Compartir en redes -->
</div>
<hr>
<div class="item-detalles">
    <div class="row ">
      <div class="col-md-6">
        <img src="{{base_url()}}/uploads/{{ item.foto }}" alt="">
        <div class="back-img" style="background-image: url('uploads/{{ item.foto }}');"></div>
      </div>
      <div class="col-md-6">
        <h6>{{item.categoria.nombre}}</h6>
        <h3>{{item.titulo}}</h3>
        <div class="descripcion">{{item.descripcion}}</div>

        <div class="datos">

        </div>
      </div>
  </div>
</div>
</section>

{% endblock body %}
